body {
  /* display: flex; */
  background-color: hsl(0, 0%, 95%);
}

#container {
  display: flex;
}

#card-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 200px 250px;
  /* height: 500px;
  width: 900px;
  margin: auto; */
}

.card {
  display: flex;
  flex-flow: column nowrap;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  margin: 15px 30px 50px 50px;
  line-height: 25px;
  min-height: 175px;
}

.card h1 {
  font-family: "Big Shoulders Display", cursive;
  margin: 15px 50px;
  color: hsl(0, 0%, 95%);
}

.icon {
  height: 45px;
  width: 60px;
  margin: 50px 30px 15px 50px;
}

button {
  margin: 50px;
  background-color: hsl(0, 0%, 95%);
  width: 140px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-family: "Lexend Deca", sans-serif;
}

#sedans-card {
  background-color: hsl(31, 77%, 52%);
  border-radius: 7px 0px 0px 7px;
}

#sedans-card button {
  color: hsl(31, 77%, 52%);
}

#sedans-card button:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

#suvs-card {
  background-color: hsl(184, 100%, 22%);
}

#suvs-card button {
  color: hsl(184, 100%, 22%);
}

#suvs-card button:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

#luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 7px 7px 0px;
}

#luxury-card button {
  color: hsl(179, 100%, 13%);
}

#luxury-card button:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

/* @media (max-width: 800px) {
  #card-container {
    margin: 75px 10px;
  }
} */

@media (max-width: 375px) {
  #card-container {
    flex-direction: column;
    margin: 75px 10px;
    /* height: 600px; */
  }
  .card {
    width: 340px;
  }
  button {
    margin: 10px 50px 50px 50px;
  }
  .card p {
    margin: 15px 50px 10px 50px;
  }
  #sedans-card {
    border-radius: 7px 7px 0px 0px;
  }
  #luxury-card {
    border-radius: 0px 0px 7px 7px;
  }
}
